<html>

<head>
    <title>Boat Simulator</title>

    <!-- Boat simulator static files -->
    <link rel="stylesheet" href="/static/boat/css/main.css" />

    <!-- Protobuf -->
    <script src="//cdn.rawgit.com/dcodeIO/protobuf.js/6.10.2/dist/protobuf.min.js"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <!-- SVG Markers -->
    <script src="/static/boat/js/leaflet-svg-shape-markers.min.js"></script>
</head>

<body>
    <h1>Boat State</h1>
    <p id="b-state-view"></p>
    <h1>Boat Control</h1>
    <p id="b-control-view"></p>
    <div id="b-map" class="map-view">
    </div>
</body>

<script>
    // Map
    var map = L.map('b-map', {
        center: [0.0, 0.0],
        zoom: 8
    });
    var autoCenter = true;
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);
    // var marker = L.marker(map.getCenter()).addTo(map);
    var marker = L.shapeMarker(map.getCenter(), {
        fillColor: "#03f4fc",
        color: "white",
        shape: "triangle",
        fillOpacity: 1.0,
        radius: 16
    }).addTo(map);

    // Websockets
    let socket = new WebSocket("ws://localhost:9001/boat_ui/ws");
    socket.binaryType = 'arraybuffer'

    var boat_msg_root = null;
    var BoatMessage = null;
    protobuf.load("/static/boat/boat_msg.proto", function (err, root) {
        if (err) {
            throw err;
        }
        boat_msg_root = root;
        BoatMessage = boat_msg_root.lookupType("BoatMessage");
    });

    socket.onopen = function (e) {
        console.log("[open] Connection established");
    };

    socket.onmessage = function (event) {
        // Take the data from the event string
        var msg = event.data

        // Create a buffer from the message data
        var buffer = new Uint8Array(msg)

        // Decode the message
        var message = BoatMessage.decode(buffer);

        // Update the UI display
        updateDisplay(message);
    };

    socket.onclose = function (event) {
        if (event.wasClean) {
            console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
        } else {
            // e.g. server process killed or network down
            // event.code is usually 1006 in this case
            console.log('[close] Connection died');
        }
    };

    socket.onerror = function (error) {
        console.log(`[error] ${error.data}`);
    };

    function updateDisplay(message) {
        // Update the boat state.
        updateBoatStateView(message);

        // Update control inputs.
        updateControlView(message);
    }

    function updateBoatStateView(message) {
        var boat_state_view = document.getElementById("b-state-view");

        // Parse the message
        var t = message.t;
        var name = message.info.name;
        var lat = message.state.lat;
        var lon = message.state.lon;
        var yaw = message.state.yaw;
        var speed = message.state.speed;
        var propRpm = message.state.propRpm;

        var msg_data_str = "t: " + t + "<br>Boat Name: " + name
            + "<br>lat: " + lat
            + "<br>lon: " + lon
            + "<br>yaw: " + yaw
            + "<br>speed: " + speed
            + "<br>prop rpm: " + propRpm;
        boat_state_view.innerHTML = msg_data_str;

        // Update the boat marker
        boat_gps = new L.LatLng(lat, lon);
        marker.setLatLng(boat_gps);
        marker.setRotation(yaw);

        // Pan the map if enabled
        if (autoCenter) {
            map.panTo(boat_gps);
        }
    }

    function updateControlView(message) {
        var boat_ctrl_view = document.getElementById("b-control-view");

        var power = message.ctrl.power;
        var rudder = message.ctrl.rudder;

        var msg_str = "Power: " + power + "<br>Rudder: " + rudder;
        boat_ctrl_view.innerHTML = msg_str;
    }
</script>

</html>