[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
control = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
autopep8 = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.10"
