<html>

<head>
    <title>Boat Simulator</title>

    <script src="//cdn.rawgit.com/dcodeIO/protobuf.js/6.10.2/dist/protobuf.min.js"></script>
</head>

<body>
    <h1>Messages</h1>
    <p id="message"></p>
</body>

<script>
    let socket = new WebSocket("ws://localhost:4001/boat/ws");
    socket.binaryType = 'arraybuffer'

    socket.onopen = function (e) {
        console.log("[open] Connection established");
        console.log("Sending to server");
        socket.send("My name is John");
    };

    socket.onmessage = function (event) {
        var msg_p = document.getElementById("message");
        // msg_p.innerHTML = event.data;
        // I retrieve the Base64 Encoded string
        msg = event.data
        console.log("Received: " + msg)
        // I transform such string to the typed array needed
        buffer = Uint8Array.from(atob(msg), c => c.charCodeAt(0))

        // Initiate the Protobuf library by opening the .proto file
        protobuf.load("/static/msg/boat_msg.proto", function (err, root) {

            // Retrieve the type of message I want to decode from the .proto file
            var BoatMessage = root.lookupType("BoatMessage");

            // Finally I can decode my message
            var message = BoatMessage.decode(buffer);

            // message now contains an object with the properties specified in the .proto file
            console.log(message)
        });
    };

    socket.onclose = function (event) {
        if (event.wasClean) {
            console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
        } else {
            // e.g. server process killed or network down
            // event.code is usually 1006 in this case
            console.log('[close] Connection died');
        }
    };

    socket.onerror = function (error) {
        console.log(`[error] ${error.data}`);
    };
</script>

</html>